*{
    color: #003665;
}

html, body{
    background: #F5F5F5;
}

header{
    height: 20px;
    background: #010066;
}

.main-branding{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-branding h3{
    font-size: 16px;
}

.navbar-collapse{
    padding: 15px;
}

.cta-btn{
    color: white;
    box-shadow: 0 2px 2px #F5F5F5;
}

.download-btn{
    width: 200px;
    margin: 30px auto;
    background: #fe5b00;
}

.banner{
    width: 100%;
    height: 250px;
    background: url('../images/banner.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 40px auto;
}

.read-more-btn{
    background: #fe5b00;
}

.about-article, 
.features-section, 
.review-section, 
.contact-section,
.partners-section{
    margin: 0 auto;
    padding: 50px 20px;
}

.partners-section{
    padding: 60px 20px;
    min-width: 100vw;
    background: #fe5b00;
}

.partner-item img, .feature-item img{ 
    width: 60px;
}

.partner-item, .feature-item{
    width: 300px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    align-items: center;
    grid-template-columns: 1fr auto;
}

.partner-item{
    width: 270px;
}

.review-section{
    display: grid;
    grid-gap: 30px;
    justify-content: center;
}

.card{
    width: 18rem;
    border: 2px solid #010066;
}

.card-header{
    height: 30px;
    color: #010066;
    display: flex;
    align-items: center;
    background: #fe5b00;
    font-weight: bolder;
}

.card-user{
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #F5F5F5;
}

.card-user-profile p{
    font-size: 12px;
}

.card-user-profile{
    padding: 20px;
    display: flex;
    align-items: center;
}

.contact-section strong{
    color: #fe5b00;
}

.contact-section{
    background: #003665;
}

.contact-section h2{
    color: #fe5b00;
}

.contact-info{
    color: #F5F5F5;
}

.privacy-article{
    padding: 20px;
}


/*Footer style*/
footer{
	padding: 35px 20px;
	width: 100%;
    text-align: center;
	background: darkgrey;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer hr{
	margin: 10px 0;
}

footer p, a{
    color: #003665;
	margin: 6px 0;
    font-size: 13px;
    text-decoration: none;
}

footer a{
	margin-right: 25px;
}


@media(min-width: 768px){
    .privacy-article{
        padding: 40px 50px;
    }
}

@media(min-width: 1200px){
    .privacy-article{
        width: 1100px;
        margin: 50px auto;
        padding: 20px;
    }
}


 